// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#cocktail_picture {
  height: 300px;
  max-width: auto;
  margin: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#cocktail_picture h2 {
  flex: 0 0 auto;
  font-size: 40px;
}

.form_wrapper {
  background-color: #F1F1F1;
  padding: 20px;
}

#dose_form_wrapper {
  margin-top: 20px;
}
